@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-950 text-emerald-500 min-h-screen selection:bg-emerald-500/30 font-mono overflow-x-hidden;
    background-image: linear-gradient(to right, #1e293b 1px, transparent 1px),
      linear-gradient(to bottom, #1e293b 1px, transparent 1px);
    background-size: 4rem 4rem;
    background-position: center center;
  }
}

@layer utilities {
  .scanline {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, transparent, rgba(52, 211, 153, 0.1), transparent);
    opacity: 0.1;
    animation: scanline 8s linear infinite;
    pointer-events: none;
    z-index: 50;
  }
}

@keyframes scanline {
  0% {
    transform: translateY(-100vh);
  }

  100% {
    transform: translateY(100vh);
  }
}